body {
  font-family: sans-serif;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #222;
  color: white;
}

.spacer {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  background-color: #333;
  width: 100%;
}

.video-container {
  margin: 50px 0;
  text-align: center;
}

video {
  border: 5px solid #fff;
  border-radius: 8px;
  max-width: 100%;
}

.status {
  font-size: 1.2rem;
  margin-top: 10px;
  color: #aaa;
}
